* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
}

.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 25px;
  background-color: #FF900E;
  border: none;
  border-radius: 7px;
}

/* header styles start */
header section {
  background-color: rgba(255, 144, 14, 0.1);
}

.header-container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;

}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu nav ul {
  display: flex;
  align-items: center;
  gap: 3em;
  list-style: none;

}

.logo a {
  color: #131313;
  font-weight: 700;
  font-size: 48px;
}

nav ul li a {
  color: #424242;
  font-weight: 600;
  font-size: 18px;
}

/* main section styles */
#banner {
  background-color: rgba(255, 144, 14, 0.1);
}

.banner-container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

.banner-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #131313;
  padding: 0 10%;
  text-align: center;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
  padding: 10px 15%;
}

.explore-button {
  text-align: center;
  padding: 20px 0 35px;
}

.banner-image img {
  width: 100%;

}

/* features section styles */
#features {
  width: 80%;
  margin: 50px auto;
}

.quick-features {
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.feature-images-box {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.feature-images-box img {
  width: 260px;
  height: 260px;
  padding: 20px;
}

.features-box {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  align-items: flex-start;
}

.section-title {
  font-weight: 400;
  font-size: 45px;
  color: #727272;
}

.bold-part {
  font-weight: 700;
  color: #131313;
}

.orange-part {
  font-weight: 700;
  color: #FF900E;
}

.section-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  padding: 25px 0;
}

/* more features styles */
#more-features {
  width: 85%;
  margin: 0 auto 50px;

}

.more-features-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features-content {
  padding: 0 60px 0 0;
}

.features-content h2.section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}


.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-box-title {
  color: #131313;
  font-size: 20px;
}

.details {
  font-size: 14px;
  color: #727272;
  padding: 12px 0;
}

.details-box {
  padding: 20px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.feature-image img {
  width: 570px;
  height: 780px;
}

/* big button styles */
.big-btn {
  text-align: center;
  margin-top: -120px;
  margin-left: 150px;
}

.btn-secondary {
  color: #ffffff;
  padding: 28px 35px;
  background-color: #FF900E;
  border: none;
  border-radius: 7px;

}

.big-btn-title {
  font-weight: 600;
  font-size: 45px;
  padding-bottom: 10px;
}

/* some facts section */
#some-facts {
  width: 85%;
  margin: 0 auto;
}

.facts-details {
  text-align: left;
  padding: 30px 0;

}

.facts-title {
  font-weight: 700;
  font-size: 42px;
  color: #131313;
}

.facts-description {
  font-size: 16px;
  color: #727272;
  padding: 15px 50% 15px 0;
}

.facts-boxs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 50px;

}

.fact-box {
  border: 1px solid #FF900E;
  border-radius: 5px;
  text-align: center;
  padding: 15px 25px;
}

.counter {
  font-weight: 600;
  font-size: 42px;
  color: #131313;
}

.counter-name {
  font-weight: 500;
  font-size: 16px;
  color: #727272;
}

/* sponsor section styles */
#sponsors {
  width: 85%;
  margin: 100px auto;

}

.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsor-title {
  font-weight: 700;
  font-size: 42px;
  color: #131313;
  padding: 20px 0;
}

.sponsor-description {
  font-size: 16px;
  color: #727272;
  padding: 10px 30%;
  text-align: center;
}

.sponsor-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0;

}

.sponsor-images img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

/* contact us area style */
#contact-area {
  padding-bottom: 100px;
}

.form-container {
  width: 100%;
  margin: 100px auto 16px;
  text-align: center;
}

.input-div {
  padding: 10px 0;
}

.form-input {
  font-size: 16px;
  font-weight: 400px;
  padding: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 50%;
}

#message {
  padding: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 50%;
}




/* footer styles */
#footer {
  width: 85%;
  margin: 60px auto 20px;
}

.footer-content {
  background-color: #FFF4E7;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}