* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
}

.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 25px;
  background-color: #FF900E;
  border-radius: 7px;
}

/* header styles start */
header section {
  background-color: rgba(255, 144, 14, 0.1);
}

.header-container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;

}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu nav ul {
  display: flex;
  align-items: center;
  gap: 3em;
  list-style: none;

}

.logo a {
  color: #131313;
  font-weight: 700;
  font-size: 48px;
}

nav ul li a {
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* main section styles */
#banner {
  background-color: rgba(255, 144, 14, 0.1);
}

.banner-container {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}

.banner-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #131313;
  padding: 0 10%;
  text-align: center;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
  padding: 10px 15%;
}

.explore-button {
  text-align: center;
  padding: 20px 0 35px;
}

.banner-image img {
  width: 100%;

}

/* features section styles */
#features {
  width: 80%;
  margin: 50px auto;
}

.quick-features {
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.feature-images-box {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.feature-images-box img {
  width: 260px;
  height: 260px;
  padding: 20px;
}

.features-box {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  align-items: flex-start;
}

.section-title {
  font-weight: 400;
  font-size: 45px;
  color: #727272;
}

.bold-part {
  font-weight: 700;
  color: #131313;
}

.orange-part {
  font-weight: 700;
  color: #FF900E;
}

.section-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  padding: 25px 0;
}

/* more features styles */
#more-features {
  width: 85%;
  margin: 0 auto;

}

.more-features-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features-content {
  padding: 0 60px 0 0;
}

.features-content h2.section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.feature-image img {
  width: 570px;
  height: 780px;
}

.details-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}